@font-face {
  font-family: 'dr_sofont';
  src: url('fonts/dr_sofont4.eot?84707623');
  src: url('fonts/dr_sofont4.eot?84707623#iefix') format('embedded-opentype'),
       url('fonts/dr_sofont4.woff2?84707623') format('woff2'),
       url('fonts/dr_sofont4.woff?84707623') format('woff'),
       url('fonts/dr_sofont4.ttf?84707623') format('truetype'),
       url('fonts/dr_sofont4.svg?84707623#dr_sofont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dr_sofont';
    src: url('fonts/dr_sofont.svg?84707623#dr_sofont') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dr_sofont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-off:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-th-list:before { content: '\e803'; } /* '' */
.icon-basket-1:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-link:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-lock-open:before { content: '\e809'; } /* '' */
.icon-star-empty:before { content: '\e80a'; } /* '' */
.icon-star-half:before { content: '\e80b'; } /* '' */
.icon-picture:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-ok-circled:before { content: '\e80e'; } /* '' */
.icon-ok-circled2:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-cancel-circled2:before { content: '\e811'; } /* '' */
.icon-cancel-circled:before { content: '\e812'; } /* '' */
.icon-help-circled:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e814'; } /* '' */
.icon-attach:before { content: '\e815'; } /* '' */
.icon-eye:before { content: '\e816'; } /* '' */
.icon-th:before { content: '\e817'; } /* '' */
.icon-eye-off:before { content: '\e818'; } /* '' */
.icon-thumbs-up:before { content: '\e819'; } /* '' */
.icon-thumbs-down:before { content: '\e81a'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e81b'; } /* '' */
.icon-pencil:before { content: '\e81c'; } /* '' */
.icon-edit:before { content: '\e81d'; } /* '' */
.icon-print:before { content: '\e81e'; } /* '' */
.icon-login:before { content: '\e81f'; } /* '' */
.icon-logout:before { content: '\e820'; } /* '' */
.icon-zoom-out:before { content: '\e821'; } /* '' */
.icon-minus-circled:before { content: '\e822'; } /* '' */
.icon-location:before { content: '\e824'; } /* '' */
.icon-trash-empty:before { content: '\e825'; } /* '' */
.icon-folder:before { content: '\e827'; } /* '' */
.icon-folder-open:before { content: '\e828'; } /* '' */
.icon-phone:before { content: '\e829'; } /* '' */
.icon-basket:before { content: '\e82d'; } /* '' */
.icon-calendar:before { content: '\e82e'; } /* '' */
.icon-zoom-in:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-down-circled2:before { content: '\e83b'; } /* '' */
.icon-up-circled2:before { content: '\e83c'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-arrows-cw:before { content: '\e84b'; } /* '' */
.icon-stop:before { content: '\e84f'; } /* '' */
.icon-pause:before { content: '\e850'; } /* '' */
.icon-to-end:before { content: '\e851'; } /* '' */
.icon-to-end-alt:before { content: '\e852'; } /* '' */
.icon-to-start:before { content: '\e853'; } /* '' */
.icon-to-start-alt:before { content: '\e854'; } /* '' */
.icon-user:before { content: '\e858'; } /* '' */
.icon-users:before { content: '\e859'; } /* '' */
.icon-plus:before { content: '\e85b'; } /* '' */
.icon-plus-circled:before { content: '\e85c'; } /* '' */
.icon-minus:before { content: '\e85d'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-pound:before { content: '\f154'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-rupee:before { content: '\f156'; } /* '' */
.icon-yen:before { content: '\f157'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-won:before { content: '\f159'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-adn:before { content: '\f170'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-try:before { content: '\f195'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f1a3'; } /* '' */
.icon-delicious:before { content: '\f1a5'; } /* '' */
.icon-digg:before { content: '\f1a6'; } /* '' */
.icon-drupal:before { content: '\f1a9'; } /* '' */
.icon-deviantart:before { content: '\f1bd'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-shekel:before { content: '\f20b'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-viacoin:before { content: '\f237'; } /* '' */
.icon-cc-jcb:before { content: '\f24b'; } /* '' */
.icon-cc-diners-club:before { content: '\f24c'; } /* '' */
.icon-safari:before { content: '\f267'; } /* '' */
.icon-chrome-1:before { content: '\f268'; } /* '' */
.icon-firefox-1:before { content: '\f269'; } /* '' */
.icon-opera-1:before { content: '\f26a'; } /* '' */
.icon-internet-explorer:before { content: '\f26b'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */
.icon-glide:before { content: '\f2a5'; } /* '' */
.icon-snapchat-square:before { content: '\f2ad'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */