@charset "utf-8";

/*----------------------------------
Just A Simple Page Styles
Created by: Corinne Ducusin
January 23, 2010
Web 210
----------------------------------*/

/* HTML Elements */
body { background-color:#34190a; color:#0a3433; font:14px/140% Garamond, Hoefler Text, Times New Roman, Times, serif; margin:0; padding:0; }

a { color:#80360c; text-decoration:none; }
a:hover { color:#80360c; text-decoration:underline; }
a:visited { color:#80360c; text-decoration:underline; }
h1 { color:#814626; font-family:Garamond, Hoefler Text, Palatino, Palatino Linotype, serif ; margin:0; padding:0; }
h2 { margin-bottom:0; }
img { border:4px solid #b0d4d3; }

/* Layout */
#container { background:url(img/bg.jpg) no-repeat; width:800px; margin:0 auto; padding:50px 0 0; }
#content-box { background:url(img/content_bg.png) no-repeat; width:376px; height:576px; margin:0 auto; padding:20px; }

/* Layout Elements */
ul#thumbnails { list-style:none; margin:0 0 20px 0; padding:0; overflow:hidden; }
	ul#thumbnails li { margin:0; padding:0 6px; float:left; }
	ul#thumbnails li:first-child { padding:0; }
	ul#thumbnails li.alt { padding:0; }
	
#about { clear:both; }

/* Miscellaneous */
.center { text-align:center; }