/*background: white
aside:FFEDED
main:#FFEDED
footer:#261E1E
header: #f5f5f5*/
*{
    margin: 0px;
    
}
body{
    display:grid;
    grid-template-columns:  auto;
    grid-template-rows: 20vw auto 10vw;
    grid-template-areas:"hd hd" 
                        "aside main"
                        "footer footer"    ;
                        background: white;
}
header{
    background: #f5f5f5;
    grid-area: hd;
    text-align: center;
}
header div{
    position: relative;
    top:12vw;
}
nav ul li{
    list-style: none;
    display: inline;
    margin: 0px;
    padding: 0px;
}
nav a{
    text-decoration: none;
    color: black;
}

aside{
    background:#FFEDED;
    grid-area: aside;
    margin-top: 5px;
}

footer{
    background: #261E1E;
    grid-area: footer;
    text-align: center;
    color: white;
    
}
footer img{
    width: 50px;
}
footer a{
    color:  white;
}

main{
    background: #FFEDED;
    grid-area: main;
    margin-top: 5px;
    margin-left: 5px;
    padding: 53px;
}
